@media screen and (max-width: 1200px) {
  .Home {
    align-items: center;
  }
  .home-container {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(3, minmax(280px, 315px)) !important;
    grid-template-rows: 170px 250px 170px 250px 170px 250px !important;

    grid-auto-flow: dense !important;
  }

  .SignInCard {
    grid-row: 3/4 !important;
    grid-column: 3/4 !important;
  }
  .trustCard {
    grid-row: 4/5 !important;
    grid-column: 3/4 !important;
  }

  .trustCard > img {
    width: 290px !important;
    height: 100%;
  }

  .hide {
    display: block !important;
  }

  .slide {
    margin-right: 200px !important;
  }

  .hidden {
    display: none !important;
  }

  .forthRow {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(280px, 315px)) !important;
    grid-template-rows: 420px !important;
  }
}
.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 900px;
  align-items: center;
  justify-items: center;

  justify-content: center;
}
.home-banner {
  min-width: 900px;
  align-items: center !important;
  justify-content: center;

  justify-self: center;
  align-self: center;
  margin-right: 0px !important;
}
.banner {
  width: 100%;
  min-width: 900px !important;
  max-width: 1400px;
  height: 100% !important;
  object-fit: contain !important;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(280px, 320px));
  grid-template-rows: 150px 250px 150px 250px;
  min-width: 800px;
  grid-gap: 16px;
  margin-top: -10em;

  justify-content: center;
}

.card {
  grid-row: span 2;
  padding: 10px;
}

.card > h3 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 5px;
}

.card-img {
  width: 98%;
  height: 310px;
  align-self: center;
  margin-top: 8px;
}

.card-button {
  margin-top: 20px;
  font-size: 14px;
  color: rgb(14, 116, 116);
  margin-left: 10px;
}

.card > p:hover {
  color: darkorange;
  text-decoration: underline;
}

.hide {
  display: none;
}

.SignInCard {
  background-color: white !important;
  padding-left: 25px;
  border-radius: 3px;
  opacity: 1 !important;
  width: 100%;
}
.SignInCard > h4 {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 600 !important;
}

.SignInCard > button {
  margin-top: 10px;
  width: 90%;
  background-color: #ffb100;
  border: none;
  height: 35px;
  font-size: 13px;
  border-radius: 5px;
}

.trustCard {
  width: 315px;
  height: 250px;
}

.trustCard > img {
  width: 100%;
  height: 100%;
}

.home-swiper {
  display: flex !important;
  flex-direction: row;
  background-color: white;
  width: 100%;
  max-width: 1320px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 15px;
  overflow: hidden;
  grid-column: span 4;
}

.bestImage {
  width: 200px;
  height: 150px;
  margin-left: 55px;
}

.top {
  background-color: white;
  align-items: center;
  padding-top: 65px;
  margin-bottom: 15px;
}

.slide {
  margin-right: 100px;
}

.forthRow {
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 320px));
  grid-template-rows: 420px;

  grid-gap: 16px;
  justify-self: center;
}
.forthRow-element {
  background-color: white;
  width: 100% !important;
  height: 420px !important;
}

.forthRow-element > h3 {
  margin-left: 15px;
  margin-top: 25px;
  font-size: 21px;
  font-weight: 600;
}

.comfy {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 10px;
  grid-row-gap: 15px;

  background-color: white;
  padding-left: 15px;
}

.comfyItem > img {
  width: 130px;
  height: 100px;
}

.comfyItem > p {
  font-size: 13px;
  margin-top: 12px;
}

.forthRow-element > h3 {
  margin-bottom: 15px;
}

.forthRow-element > img {
  width: 90%;
  height: 300px;
  margin-left: 16px;
}

.forthRow-element > p {
  margin-top: 40px;
  margin-left: 15px;
  font-size: 13px;
  color: rgb(32, 123, 165);
}

#comfyButton {
  font-size: 15px;
  margin-top: 10px;
}
